<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="NOA Player" 
           Language="1033" 
           Version="4.40.53" 
           Manufacturer="NOA" 
           UpgradeCode="B413BC3A-1443-A538-8821-5F8447F4A74B">
    
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Description="NOA Digital Signage Player" 
             Manufacturer="NOA" />
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <MediaTemplate EmbedCab="yes" />
    
    <!-- Install directory -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="NOA Player">
          <Directory Id="PlayerFolder" Name="Player" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="NOA Player">
          <!-- NOA Player Options 바로가기 -->
          <Component Id="OptionsShortcut" Guid="*">
            <Shortcut Id="OptionsStartMenuShortcut"
                      Name="NOA Player Options"
                      Description="NOA Digital Signage Player Settings"
                      Target="[INSTALLFOLDER]Player\XiboClient.exe"
                      Arguments="o"
                      WorkingDirectory="INSTALLFOLDER"
                      Icon="ProductIcon" />
            <RegistryValue Root="HKCU" 
                          Key="Software\NOA\Player" 
                          Name="OptionsInstalled" 
                          Type="integer" 
                          Value="1" 
                          KeyPath="yes" />
          </Component>
          
          <!-- NOA Player 바로가기 -->
          <Component Id="PlayerShortcut" Guid="*">
            <Shortcut Id="PlayerStartMenuShortcut"
                      Name="NOA Player"
                      Description="NOA Digital Signage Player"
                      Target="[INSTALLFOLDER]Player\XiboClient.exe"
                      WorkingDirectory="INSTALLFOLDER"
                      Icon="ProductIcon" />
            <RegistryValue Root="HKCU" 
                          Key="Software\NOA\Player" 
                          Name="PlayerInstalled" 
                          Type="integer" 
                          Value="1" 
                          KeyPath="yes" />
          </Component>
          
          <Component Id="RemoveProgramMenuDir" Guid="*">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" 
                          Key="Software\NOA\Player" 
                          Name="MenuFolder" 
                          Type="integer" 
                          Value="1" 
                          KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    
    <!-- All application files including DLLs and dependencies -->
    <!-- Heat-generated fragment will include all files -->
    <!-- Dependencies ComponentGroup is generated by heat.exe -->
    
    <Feature Id="ProductFeature" Title="NOA Player" Level="1">
      <ComponentGroupRef Id="Dependencies" />
      <ComponentRef Id="OptionsShortcut" />
      <ComponentRef Id="PlayerShortcut" />
      <ComponentRef Id="RemoveProgramMenuDir" />
    </Feature>
    
    <Icon Id="ProductIcon" SourceFile="new-icon.ico" />
    
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
    <Property Id="ARPHELPLINK" Value="https://noaled.kr" />
    <Property Id="ARPURLINFOABOUT" Value="https://noaled.kr" />
    
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <UIRef Id="WixUI_Minimal" />
  </Product>
</Wix>

